@import "../../assets/styles/vars";

.mercury-cash__toggleQRButton {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.85em;
  width: 255px;
  max-width: 100%;
  background-color: #2f80ed;
  color: $dirtWhite;
  font-weight: 600;
  font-size: 0.93em;
  line-height: 1.5em;
  border-radius: 2.5em;
  padding: 1em 1.5em 1em;
}