// fonts
$baseFontFamily: Poppins, sans-serif;

// colors
$titleColor: #14142B;
$titleLighterColor: #4e4b66;
$modalBg: #fcfcfc;
$walletBg: #eff0f7;
$white: #fff;
$dirtWhite: #f7f7fc;
$purple: #fe67ad;