#content .tab-pane:first-child .panel {
  border-top-left-radius: 0;
}

.MercuryCash-header .text-branded,
.MercuryCash-content .text-branded {
  color: #00aff0;
}

.MercuryCash-header h4,
.MercuryCash-content h4,
.MercuryCash-content h5 {
  margin: 2px 0;
  color: #00aff0;
  font-size: 1.8em;
}

.MercuryCash-header h4 {
  margin-top: 5px;
}

.MercuryCash-header .col-md-6 {
  margin-top: 18px;
}

.MercuryCash-content h4 {
  margin-bottom: 10px;
}

.MercuryCash-content h5 {
  font-size: 1.4em;
  margin-bottom: 10px;
}

.MercuryCash-content h6 {
  font-size: 1.3em;
  margin: 1px 0 4px 0;
}

.MercuryCash-header > .col-md-4 {
  height: 65px;
  vertical-align: middle;
  border-left: 1px solid #ddd;
}

.MercuryCash-header > .col-md-4:first-child {
  border-left: none;
}

.MercuryCash-header #create-account-btn {
  margin-top: 14px;
}

.MercuryCash-content dd + dt {
  margin-top: 5px;
}

.MercuryCash-content ul {
  padding-left: 15px;
}

.MercuryCash-content .ul-spaced li {
  margin-bottom: 5px;
}