#MercuryCash_payment_button a {
  padding: 10px;
  background-color: #FBFBFB;
}

#MercuryCash_payment_button a:hover {
  background-color: #f6f6f6;
}

#MercuryCash_payment_button a:after {
  display: block;
  content: "\f054";
  position: absolute;
  right: 15px;
  margin-top: -11px;
  top: 50%;
  font-family: "FontAwesome";
  font-size: 25px;
  height: 22px;
  width: 14px;
  color: #777777;
}

.loader-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, .8) url('../img/loader1.gif') 50% 50% no-repeat;
}

.loader-qr {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, .8) 50% 50% no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .loader-modal {
  overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .loader-modal {
  display: block;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading-qr .loader-qr {
  overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading-qr .loader-qr {
  display: block;
}

.qr-code {
  width: 250px;
  height: 250px;
  /*width: 50%;*/
  margin: 0 auto;
}

.mercury-qr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #dbf3ff;
  padding: 15px;
}

/*.mercury-qr div img {*/
/*content:url('../img/logo-dark-mercury-cash.svg');*/
/*}*/

#bitcoin_logo {
  content: url("data:image/svg+xml,<svg width='26' height='25' viewBox='0 0 26 25' fill='none' xmlns='http://www.w3.org/2000/svg'> <path d='M12.7434 24.88C19.7814 24.88 25.4868 19.3104 25.4868 12.44C25.4868 5.56958 19.7814 0 12.7434 0C5.70542 0 0 5.56958 0 12.44C0 19.3104 5.70542 24.88 12.7434 24.88Z' fill='url(%23paint0_linear)'/> <path d='M16.9947 15.24C17.1073 14.65 16.9639 14.12 16.5542 13.67C16.3595 13.47 16.1444 13.3 15.9088 13.1C15.9498 13.09 15.9703 13.08 16.001 13.07C17.4864 12.84 18.019 10.9 17.3122 9.94999C17.0254 9.55999 16.6668 9.25999 16.2673 9.01999C15.9805 8.84999 15.6732 8.69999 15.3659 8.53999C15.5503 7.98999 15.8166 7.22998 16.0317 6.60998L14.8537 6.22998C14.6385 6.82998 14.3927 7.56998 14.1981 8.11999C13.86 8.00999 13.5629 7.90999 13.2454 7.80998C13.4298 7.26998 13.6859 6.52998 13.8907 5.91998L12.7024 5.53998C12.4873 6.14998 12.2312 6.90998 12.0366 7.45998C11.2273 7.18998 10.4488 6.93998 9.6395 6.66998C9.49608 7.08998 9.35267 7.47998 9.20925 7.89999C9.3834 7.95999 9.53706 7.99999 9.67023 8.05999C9.82389 8.10999 9.97755 8.15999 10.1107 8.20999C10.5205 8.36999 10.6537 8.66999 10.5205 9.06999C9.93657 10.72 9.36291 12.38 8.78925 14.03C8.66632 14.4 8.4512 14.48 8.09266 14.37C7.82632 14.29 7.55998 14.2 7.30388 14.12C7.06827 14.56 6.83266 14.98 6.59705 15.42C7.39607 15.69 8.18486 15.95 8.99413 16.22C8.78925 16.81 8.53315 17.56 8.31803 18.19L9.50633 18.57C9.73169 17.95 9.97755 17.22 10.1824 16.63C10.5102 16.75 10.8176 16.86 11.1249 16.97C10.92 17.56 10.6741 18.28 10.4693 18.89L11.6576 19.27C11.8829 18.65 12.1288 17.92 12.3337 17.34C12.3746 17.34 12.4054 17.35 12.4463 17.35C13.0405 17.44 13.6449 17.58 14.2288 17.63C15.0073 17.68 15.7142 17.46 16.2571 16.86C16.6361 16.4 16.882 15.85 16.9947 15.24ZM12.7946 9.17999C13.5322 9.41999 14.28 9.58999 14.8434 10.1C15.2225 10.43 15.3249 10.86 15.1507 11.28C14.9664 11.73 14.5873 11.97 14.0649 11.96C13.3478 11.96 12.6717 11.73 11.9751 11.48C12.2517 10.73 12.518 9.97999 12.7946 9.17999ZM13.4298 15.8C12.6717 15.88 11.9854 15.65 11.2785 15.44C11.0839 15.38 10.8995 15.31 10.6844 15.24C10.9815 14.38 11.2785 13.54 11.5858 12.68C12.4873 12.97 13.4093 13.19 14.1263 13.83C14.4951 14.16 14.6385 14.57 14.4746 15.05C14.3005 15.53 13.9317 15.76 13.4298 15.8Z' fill='white'/> <defs> <linearGradient id='paint0_linear' x1='0.558395' y1='1.4782' x2='36.6188' y2='35.5208' gradientUnits='userSpaceOnUse'> <stop stop-color='%23FF875E'/> <stop offset='1' stop-color='%23FE67AD'/> </linearGradient> </defs> </svg>");
}

#etherium_logo {
  content: url("data:image/svg+xml,<svg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'> <path d='M11.5 23C17.8513 23 23 17.8513 23 11.5C23 5.14873 17.8513 0 11.5 0C5.14873 0 0 5.14873 0 11.5C0 17.8513 5.14873 23 11.5 23Z' fill='url(%23paint0_linear)'/> <path d='M11.6733 14.7263V17.8694L15.5745 12.3875L11.6733 14.7263Z' fill='white'/> <path d='M15.4261 11.3706L11.6729 5.13062V9.6696L15.4261 11.3706Z' fill='white'/> <path d='M11.6724 10.0302V13.9035L15.3886 11.7219L11.6724 10.0302Z' fill='white'/> <path d='M7.58862 11.3706L11.3418 5.13062V9.6696L7.58862 11.3706Z' fill='white'/> <path d='M11.3424 10.0302V13.9035L7.60767 11.7219L11.3424 10.0302Z' fill='white'/> <path d='M11.3335 14.7263V17.8694L7.43237 12.3875L11.3335 14.7263Z' fill='white'/> <defs> <linearGradient id='paint0_linear' x1='2.0798' y1='18.1003' x2='20.9252' y2='4.90469' gradientUnits='userSpaceOnUse'> <stop stop-color='%238E70EE'/> <stop offset='1' stop-color='%232E84C1'/> </linearGradient> </defs> </svg>");
}

#dash_logo {
  content: url("data:image/svg+xml,<svg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'> <path d='M11.5 23C17.8513 23 23 17.8513 23 11.5C23 5.14873 17.8513 0 11.5 0C5.14873 0 0 5.14873 0 11.5C0 17.8513 5.14873 23 11.5 23Z' fill='url(%23paint0_linear)'/> <path d='M13.0883 6.96106H8.85442L8.50313 8.92087L12.3211 8.93011C14.1977 8.93011 14.7616 9.61419 14.7431 10.742C14.7338 11.3244 14.4842 12.3043 14.3733 12.6186C14.0867 13.4691 13.4858 14.4305 11.258 14.4305H7.54172L7.19043 16.3903H11.4151C12.9035 16.3903 13.5413 16.2147 14.2069 15.9096C15.6953 15.2255 16.5827 13.7557 16.934 11.8421C17.4609 8.98558 16.8046 6.96106 13.0883 6.96106Z' fill='white'/> <path d='M7.02522 10.6865C5.9159 10.6865 5.75874 11.4076 5.65706 11.842C5.51839 12.4152 5.47217 12.6463 5.47217 12.6463H9.80778C10.9171 12.6463 11.0743 11.9252 11.1759 11.4908C11.3146 10.9176 11.3608 10.6865 11.3608 10.6865H7.02522Z' fill='white'/> <defs> <linearGradient id='paint0_linear' x1='2.0798' y1='18.1003' x2='20.9252' y2='4.90469' gradientUnits='userSpaceOnUse'> <stop stop-color='%233AD1BF'/> <stop offset='1' stop-color='%23119BD2'/> </linearGradient> </defs> </svg>");
}

.mercury-radio {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #7a7a7a;
  background: #fff;
  margin-right: 1.25rem
}

.close-modal {
  display: flex;
  justify-content: flex-end;
}

.close-modal:hover {
  cursor: pointer;
}
