.mercury-cash__btn-crypto {
  border: 1px solid #6E7191;
  font-size: 1.125em;
  line-height: 1.5em;
  color: #595959;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 1em;
  padding: 1em 1.5em 0.9em;
  margin-bottom: 0.75em;
  transition: 0.2s;

  &:hover {
    border: 1px solid #2f80ed;
    box-shadow: 0 0 0 1px #2F80ED;
    color: #2f80ed;
  }

  &:disabled {
    opacity: 0.3;
    cursor: auto;
    pointer-events: none;
    user-select: none;
  }
}