@import "src/assets/styles/vars";

.mercury-cash__title {
  font-weight: 700;
  color: $titleColor;
  margin: 0 0 0.75em;
  text-align: center;
  
  span {
    font-weight: 400;
  }
}

.mercury-cash__title--lighter {
  color: $titleLighterColor;
}

.mercury-cash__title--big {
  font-size: 1.5em;
  letter-spacing: 0.0625em;
}

.mercury-cash__title--small {
  font-size: 0.875em;
  letter-spacing: 0.046em;
}
